@font-face {
    font-family: 'Automaton';
    src: url('./fonts/Automatonv3.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Automaton', sans-serif;
}
